In [1]:
import numpy as np
import pandas as pd
import itertools
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.metrics import accuracy_score, confusion_matrix

In [8]:
df = pd.read_csv('news.csv')

In [9]:
df.head()

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

In [10]:
df.rename(columns={'Unnamed: 0':'news_souce'},inplace=True)

In [11]:
df.head()

,news_souce,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

In [40]:
tfid = TfidfVectorizer(stop_words='english',max_df=0.75,ngram_range=(1,1))

In [41]:
labels = df.label

In [42]:
X_train,X_test,y_train,y_test = train_test_split(df['text'],labels,test_size=0.25,random_state=24)

In [43]:
X_train = tfid.fit_transform(X_train)

In [44]:
X_test = tfid.transform(X_test)

In [50]:
pac = PassiveAggressiveClassifier(n_jobs=-1,random_state=24)

In [51]:
pac.fit(X_train,y_train)

PassiveAggressiveClassifier(n_jobs=-1, random_state=24)

In [47]:
pac.score(X_test,y_test)

0.9324494949494949

In [52]:

Predict on the test set and calculate accuracy
y_pred=pac.predict(X_test)
score=accuracy_score(y_test,y_pred)
print(f'Accuracy: {round(score*100,2)}%')

Accuracy: 93.24%

In [54]:
conmat = confusion_matrix(y_test,y_pred, labels=['FAKE','REAL'])

In [56]:
tn, fp, fn, tp = conmat.ravel()

In [64]:
print(f'True Negatives: {tp} - False Positves: {fp}')
print(f'False Negatives: {tp} - True Positives: {tp}')

True Negatives: 711 - False Positves: 51
False Negatives: 711 - True Positives: 711